/* ! for home page responsive */
@media (max-width:1275px) {
    #banner-sm .banner-box {

        min-width: 100%;
        height: 50vh;

    }

    #banner-sm .margin-top {
        margin-top: 30px;
    }

}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    /* ?header section */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.show {
        right: 0;

    }

    #navbar li {
        margin-bottom: 22px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 35px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    /* ?hero section  */
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;

    }

    /* ?featured section */
    #featured {
        justify-content: center;
    }

    #featured .featured-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    /* ?banner section */
    #banner {
        height: 30vh;
    }

    #banner-sm .banner-box {

        min-width: 100%;
        height: 30vh;

    }

    #banner-sm .margin-top {
        margin-top: 25px;
    }

    #text-banner {
        padding: 0 40px;

    }

    #text-banner .banner-box,
    #text-banner .banner-box2,
    #text-banner .banner-box3 {
        min-width: 28%;
    }

    #news-letter .form {
        width: 70%;

    }

    #form-details {
        padding: 20px;

    }

    #form-details form {
        width: 50%;
    }

    /* card page */
    #cart {
        overflow-x: auto;
    }
}

@media (max-width:732px) {
    #text-banner .banner-box {

        width: 100%;

    }
}

@media (max-width:477px) {

    .section-p1 {
        padding: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #header {

        padding: 10px 30px;

    }
    /* #mobile {
        position: relative;
    }

    #mobile a:hover,
    #mobile a.active {
        color: #088178;
    } */

    #mobile a:hover::after,
    #mobile a.active::after {
        content: "";
        width: 30%;
        height: 2px;
        background-color: #088178;
        position: absolute;
        bottom: -4px;
        left: 20px;

    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #featured {
        justify-content: space-between;
    }

    #featured .featured-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;

    }

    #banner {

        height: 40vh;

    }

    #banner-sm .banner-box {
        height: 40vh;

    }

    #banner-sm .margin-top {
        margin-top: 25px;
    }


    #text-banner {
        flex-direction: column;
        padding: 0 20px;
    }

    #text-banner .banner-box {

        width: 100%;

    }

    #news-letter {
        padding: 40px 20px;
    }

    #news-letter .form {
        width: 100%;

    }

    footer .copy-right {

        text-align: start;
    }

    /* ?single product page responisve */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* ? blog page */
    #blog {
        padding: 100px 20px 0 20px
    }

    #blog .blog-box {

        align-items: flex-start;
        flex-direction: column;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
    }

    #about-head .details {
        padding-left: 0px;
    }

    #about-head .video {
        width: 100%;
    }

    /* contact page */
    #contact-details {
        flex-direction: column;

    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;

    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* card page */
    #cart-add {
        display: flex;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-bottom: 30px;
    }

    #sub-total {
        width: 100%;

    }



}